In [68]:
###AVISO::: TEM QUE SUBSTITUIR O RANGE (linha 19) PARA NÃO TER DUPLICATAS, VISTO QUE O SITE RETORNA PARA A 
### PRIMEIRA PÁGINA SE ELE NÃO ACHAR A PÁGINA QUE PROCUROU

###Como tem anúncios patrocinados no site que estarão de volta ao topo em toda lista, temos que remover as duplicatas

#Biblioteca para a mineração de dados
from bs4 import BeautifulSoup

#Biblioteca para lidar com o HTTP 
import requests

#Biblioteca para exportar para csv
import pandas as pd

#Função para remover espaços brancos do dataframe
def remover_espacos(df):
    df_obj = df.select_dtypes(['object'])
    df[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())
    
#Função para retirar o tipo de casa da coluna Titulo e separar em duas colunas novas
def separar_tipo_casa(df):
    df[['Tipo_De_Casa', 'Nome']] = df['Titulo'].str.split(' ', 1, expand=True)
    df.drop(columns=['Titulo'], inplace=True)
    

#Criando o dataframe 
casas = pd.DataFrame(columns=['Titulo', 'Localizacao', 'Preco', 'Tamanho'])

#Contador para ir para as próximas páginas, mas é necessário contar quantas páginas tem e substituir no range
for contador in range(18):
    url = f'https://www.pararius.com/apartments/amsterdam/page-{contador}'

    page = requests.get(url)
    #Aqui é importante dar um print(page) para ver se o request é 200, ou seja, se deu certo o request para a página

    soup = BeautifulSoup(page.content, 'html.parser')
    lists = soup.find_all('section')

    for list in lists:
        title = list.find('a', class_ = 'listing-search-item__link--title').text.replace('\n', '')
        location = list.find('div', class_ = 'listing-search-item__sub-title').text.replace('\n', '')
        price = list.find('div', class_ = 'listing-search-item__price').text.replace('\n', '')
        size = list.find('ul', class_ = 'illustrated-features').text.replace('\n', '')
        info = [title, location, price, size]
        casas.loc[len(casas.index)] = info

remover_espacos(casas)
separar_tipo_casa(casas)

In [76]:
#Função para retirar o permonth da coluna Preço e transformar ela em numérica 
def arrumar_preco(df):
    series = df['Preco']
    #retirar 9 ultimas letras
    series.str.strip('')
    
    #retirar a primeira letra
    
    #retirar a virgula
    
    #deixar numerica
    
    #renomear o preco pra preco euros
    
teste = casas['Preco']
teste.str.strip('€per month')

0      2,850
1      2,595
2      1,850
3      1,450
4      1,150
       ...
542    2,500
543    2,300
544    8,750
545    2,250
546    3,400
Name: Preco, Length: 547, dtype: object

In [69]:
display(casas)

,Localizacao,Preco,Tamanho,Tipo_De_Casa,Nome
0,1077 TR Amsterdam (Apollobuurt),"€2,850 per month",111 m²3 roomsFurnished,Apartment,Minervaplein
1,1094 GE Amsterdam (Indische Buurt West),"€2,595 per month",95 m²3 roomsUpholstered,House,Madurastraat
2,1078 TV Amsterdam (IJselbuurt),"€1,850 per month",70 m²3 roomsUpholstered,Apartment,Holendrechtstraat
3,"1104 GB Amsterdam (Bijlmer Oost (E,G,K))","€1,450 per month",93 m²4 rooms1974,House,Kantershof 27
4,1056 TS Amsterdam (Geuzenbuurt),"€1,150 per month",25 m²1 roomFurnished,Studio,Krommertstraat
...,...,...,...,...,...
542,1078 AZ Amsterdam (Scheldebuurt),"€2,500 per month",93 m²4 roomsFurnished,Apartment,Amstelkade
543,1093 ED Amsterdam (Dapperbuurt),"€2,300 per month",63 m²2 rooms1882,Apartment,Linnaeusstraat
544,1096 GD Amsterdam (Omval/Overamstel),"€8,750 per month",324 m²7 roomsFurnished,House,Amstelbeststraat 4
545,1015 DE Amsterdam (Grachtengordel-West),"€2,250 per month",95 m²2 roomsFurnished,Apartment,Leliegracht 12 1
546,1015 DE Amsterdam (Grachtengordel-West),"€3,400 per month",160 m²3 roomsFurnished,Apartment,Leliegracht 12 II

In [45]:
#Apartamentos com mais lugares a venda
casas.Localizacao.value_counts()

#Ver se o preço é sempre por mes 
casas.Preco.unique()

#Limpar os espaços das colunas
for preco_casa in casas['Preco']:
    print(preco_casa)
    #Do euro até o primeiro espaço
    #casas['Preco_Em_Euros']  = preco_casa

#Ver se a localizacao sempre tem amsterdã

€2,850 per month
€2,595 per month
€1,850 per month
€1,450 per month
€1,150 per month
€1,500 per month
€1,295 per month
€1,850 per month
€1,950 per month
€1,750 per month
€2,250 per month
€2,650 per month
€1,850 per month
€2,350 per month
€2,450 per month
€2,450 per month
€2,100 per month
€2,000 per month
€1,900 per month
€2,050 per month
€3,800 per month
€3,950 per month
€1,750 per month
€2,450 per month
€6,500 per month
€2,100 per month
€2,250 per month
€2,800 per month
€2,650 per month
€2,500 per month
€2,100 per month
€2,850 per month
€2,595 per month
€1,850 per month
€1,450 per month
€1,150 per month
€1,500 per month
€1,295 per month
€1,850 per month
€1,950 per month
€1,750 per month
€2,250 per month
€2,650 per month
€1,850 per month
€2,350 per month
€2,450 per month
€2,450 per month
€2,100 per month
€2,000 per month
€1,900 per month
€2,050 per month
€3,800 per month
€3,950 per month
€1,750 per month
€2,450 per month
€6,500 per month
€2,100 per month
€2,250 per month
€2,800 per month
€2,650 per month
€2,500 per month
€2,100 per month
€2,850 per month
€2,800 per month
€3,750 per month
€2,145 per month
€1,895 per month
€3,750 per month
€2,600 per month
€1,350 per month
€1,695 per month
€1,150 per month
€2,850 per month
€2,100 per month
€2,500 per month
€1,595 per month
€3,950 per month
€3,200 per month
€1,550 per month
€2,450 per month
€2,650 per month
€2,650 per month
€6,500 per month
€2,950 per month
€2,195 per month
€1,650 per month
€1,850 per month
€1,650 per month
€2,950 per month
€3,250 per month
€2,800 per month
€2,000 per month
€2,500 per month
€2,850 per month
€2,250 per month
€2,950 per month
€2,500 per month
€2,500 per month
€2,500 per month
€3,250 per month
€2,800 per month
€4,250 per month
€4,000 per month
€1,950 per month
€2,250 per month
€6,500 per month
€3,000 per month
€3,500 per month
€2,850 per month
€2,475 per month
€2,850 per month
€2,950 per month
€4,650 per month
€1,950 per month
€3,750 per month
€1,450 per month
€1,500 per month
€2,200 per month
€3,950 per month
€1,950 per month
€1,850 per month
€2,000 per month
€3,950 per month
€2,100 per month
€2,850 per month
€3,000 per month
€2,600 per month
€4,500 per month
€1,525 per month
€2,350 per month
€1,900 per month
€2,000 per month
€2,500 per month
€2,500 per month
€2,100 per month
€2,250 per month
€4,000 per month
€2,150 per month
€2,750 per month
€2,100 per month
€1,750 per month
€2,500 per month
€2,750 per month
€1,950 per month
€6,750 per month
€2,750 per month
€3,000 per month
€2,850 per month
€2,000 per month
€2,550 per month
€2,475 per month
€1,750 per month
€3,250 per month
€4,950 per month
€4,300 per month
€2,850 per month
€1,750 per month
€2,450 per month
€3,000 per month
€2,500 per month
€5,500 per month
€2,750 per month
€1,795 per month
€7,500 per month
€4,750 per month
€2,350 per month
€2,995 per month
€2,250 per month
€3,450 per month
€2,500 per month
€2,150 per month
€2,350 per month
€2,950 per month
€1,950 per month
€2,250 per month
€1,750 per month
€2,295 per month
€2,750 per month
€2,750 per month
€2,850 per month
€2,200 per month
€4,000 per month
€1,855 per month
€2,250 per month
€1,550 per month
€10,500 per month
€2,850 per month
€2,650 per month
€3,500 per month
€3,000 per month
€3,000 per month
€4,500 per month
€3,750 per month
€3,750 per month
€2,000 per month
€4,000 per month
€4,750 per month
€3,250 per month
€1,950 per month
€5,000 per month
€3,800 per month
€2,100 per month
€2,500 per month
€2,150 per month
€13,500 per month
€1,825 per month
€1,650 per month
€2,150 per month
€1,950 per month
€3,475 per month
€4,250 per month
€3,900 per month
€1,600 per month
€3,850 per month
€2,100 per month
€2,300 per month
€1,920 per month
€2,850 per month
€2,700 per month
€2,950 per month
€1,850 per month
€3,950 per month
€2,700 per month
€2,100 per month
€1,900 per month
€2,850 per month
€2,000 per month
€3,700 per month
€1,600 per month
€3,000 per month
€2,950 per month
€1,700 per month
€2,500 per month
€1,750 per month
€2,750 per month
€3,500 per month
€2,500 per month
€3,500 per month
€2,800 per month
€3,500 per month
€2,950 per month
€2,350 per month
€1,800 per month
€1,850 per month
€1,750 per month
€2,950 per month
€2,450 per month
€2,495 per month
€2,850 per month
€4,750 per month
€3,250 per month
€3,250 per month
€1,616 per month
€1,995 per month
€2,400 per month
€1,700 per month
€1,700 per month
€1,900 per month
€2,500 per month
€1,695 per month
€5,000 per month
€2,250 per month
€1,750 per month
€3,750 per month
€3,500 per month
€4,250 per month
€2,150 per month
€1,750 per month
€1,700 per month
€3,500 per month
€1,650 per month
€2,550 per month
€1,950 per month
€3,950 per month
€4,850 per month
€7,000 per month
€1,800 per month
€6,000 per month
€3,600 per month
€2,850 per month
€5,650 per month
€5,000 per month
€1,056 per month
€8,000 per month
€7,950 per month
€1,500 per month
€2,850 per month
€2,950 per month
€3,100 per month
€2,200 per month
€3,750 per month
€1,550 per month
€3,000 per month
€2,500 per month
€4,500 per month
€2,350 per month
€1,950 per month
€2,850 per month
€2,350 per month
€2,550 per month
€1,550 per month
€3,000 per month
€1,900 per month
€2,975 per month
€3,750 per month
€3,500 per month
€7,000 per month
€10,750 per month
€2,550 per month
€1,850 per month
€2,850 per month
€2,250 per month
€2,800 per month
€2,800 per month
€4,500 per month
€2,500 per month
€2,250 per month
€3,250 per month
€1,300 per month
€2,600 per month
€1,650 per month
€2,850 per month
€4,750 per month
€2,850 per month
€3,150 per month
€2,850 per month
€1,625 per month
€2,000 per month
€1,900 per month
€4,950 per month
€4,000 per month
€2,600 per month
€1,850 per month
€2,750 per month
€3,100 per month
€2,750 per month
€2,995 per month
€4,750 per month
€2,600 per month
€2,250 per month
€2,250 per month
€2,850 per month
€8,000 per month
€2,950 per month
€1,895 per month
€3,500 per month
€3,250 per month
€8,500 per month
€5,500 per month
€3,000 per month
€3,000 per month
€2,750 per month
€2,750 per month
€3,950 per month
€3,000 per month
€4,150 per month
€3,500 per month
€2,050 per month
€2,095 per month
€10,000 per month
€1,875 per month
€2,750 per month
€1,500 per month
€3,500 per month
€2,400 per month
€3,200 per month
€3,500 per month
€2,500 per month
€4,400 per month
€4,950 per month
€2,600 per month
€1,295 per month
€2,850 per month
€4,900 per month
€5,500 per month
€3,750 per month
€2,800 per month
€4,000 per month
€2,250 per month
€3,950 per month
€1,875 per month
€1,875 per month
€2,500 per month
€5,000 per month
€2,300 per month
€2,350 per month
€1,995 per month
€2,750 per month
€6,000 per month
€1,500 per month
€2,300 per month
€3,100 per month
€2,500 per month
€2,100 per month
€4,000 per month
€7,000 per month
€2,500 per month
€3,500 per month
€3,950 per month
€9,500 per month
€4,000 per month
€3,100 per month
€1,784 per month
€2,850 per month
€3,250 per month
€5,400 per month
€3,990 per month
€3,850 per month
€2,150 per month
€4,950 per month
€2,450 per month
€4,500 per month
€2,350 per month
€1,900 per month
€4,500 per month
€2,500 per month
€1,700 per month
€1,694 per month
€1,568 per month
€1,265 per month
€1,487 per month
€3,250 per month
€1,550 per month
€2,750 per month
€1,683 per month
€1,672 per month
€1,688 per month
€1,328 per month
€1,900 per month
€3,250 per month
€13,000 per month
€7,500 per month
€1,550 per month
€1,747 per month
€2,850 per month
€3,500 per month
€2,950 per month
€1,865 per month
€1,850 per month
€5,500 per month
€9,750 per month
€3,000 per month
€3,250 per month
€1,446 per month
€2,750 per month
€1,760 per month
€4,500 per month
€3,500 per month
€1,400 per month
€2,154 per month
€1,773 per month
€1,540 per month
€1,447 per month
€1,367 per month
€2,900 per month
€3,475 per month
€673 per month
€4,500 per month
€2,654 per month
€2,350 per month
€3,300 per month
€2,250 per month
€2,700 per month
€3,400 per month
€2,200 per month
€2,850 per month
€655 per month
€2,150 per month
€2,250 per month
€2,550 per month
€2,450 per month
€1,750 per month
€2,100 per month
€1,750 per month
€1,550 per month
€2,750 per month
€1,750 per month
€1,350 per month
€1,600 per month
€3,100 per month
€2,800 per month
€1,850 per month
€2,300 per month
€1,950 per month
€2,250 per month
€1,700 per month
€2,000 per month
€1,775 per month
€1,800 per month
€1,800 per month
€2,250 per month
€2,300 per month
€2,250 per month
€2,750 per month
€2,550 per month
€2,750 per month
€2,850 per month
€1,650 per month
€2,150 per month
€2,400 per month
€1,750 per month
€3,000 per month
€1,850 per month
€3,250 per month
€2,450 per month
€2,750 per month
€2,550 per month
€2,950 per month
€4,500 per month
€1,600 per month
€2,100 per month
€2,150 per month
€2,500 per month
€1,900 per month
€2,500 per month
€1,900 per month
€2,500 per month
€3,500 per month
€3,250 per month
€1,950 per month
€4,250 per month
€3,400 per month
€1,800 per month
€2,150 per month
€1,550 per month
€1,450 per month
€3,300 per month
€2,850 per month
€2,000 per month
€4,500 per month
€4,250 per month
€2,400 per month
€2,750 per month
€2,800 per month
€2,950 per month
€3,500 per month
€3,500 per month
€2,900 per month
€4,750 per month
€3,250 per month
€2,985 per month
€2,750 per month
€5,500 per month
€2,500 per month
€2,300 per month
€8,750 per month
€2,250 per month
€3,400 per month

In [37]:
casas[casas.duplicated() == True]

,Titulo,Localizacao,Preco,Tamanho
31,Apartment Minervaplein...,1077 TR Amsterdam (Apollobuurt) ...,"€2,850 per month",111 m²3 roomsFurnished
32,House Madurastraat ...,1094 GE Amsterdam (Indische Buurt ...,"€2,595 per month",95 m²3 roomsUpholstered
33,Apartment Holendrechts...,1078 TV Amsterdam (IJselbuurt) ...,"€1,850 per month",70 m²3 roomsUpholstered
34,House Kantershof 27 ...,1104 GB Amsterdam (Bijlmer Oost (E...,"€1,450 per month",93 m²4 rooms1974
35,Studio Krommertstraat ...,1056 TS Amsterdam (Geuzenbuurt) ...,"€1,150 per month",25 m²1 roomFurnished
36,Apartment John Blanken...,1095 MB Amsterdam (Zeeburgereiland...,"€1,500 per month",50 m²2 roomsFurnished
37,Studio Haarlemmermeers...,1058 KA Amsterdam (Hoofddorppleinb...,"€1,295 per month",37 m²1 roomUpholstered
38,Apartment Gustav Mahle...,1082 MK Amsterdam (Zuidas),"€1,850 per month",50 m²2 roomsFurnished
39,Apartment Herenstraat ...,1015 CA Amsterdam (Grachtengordel-...,"€1,950 per month",55 m²2 roomsFurnished
40,Apartment Tweede Jacob...,1073 XW Amsterdam (Oude Pijp),"€1,750 per month",42 m²2 roomsFurnished
41,Apartment Eerste Helme...,1054 DN Amsterdam (Helmersbuurt) ...,"€2,250 per month",80 m²2 roomsFurnished
42,Apartment Buiksloterwe...,1031 CD Amsterdam (Volewijck),"€2,650 per month",110 m²3 roomsFurnished
43,Apartment Marco Polost...,1057 WR Amsterdam (Hoofdweg e.o.) ...,"€1,850 per month",55 m²2 roomsFurnished
44,Apartment Andreasplein...,1058 GD Amsterdam (Westlandgracht)...,"€2,350 per month",90 m²3 roomsFurnished
45,Apartment Rustenburger...,1073 EX Amsterdam (Nieuwe Pijp) ...,"€2,450 per month",87 m²3 roomsUpholstered
46,Apartment Frederiksple...,1017 XM Amsterdam (De Weteringscha...,"€2,450 per month",95 m²3 roomsFurnished
47,Apartment Karel du Jar...,1072 SG Amsterdam (Nieuwe Pijp) ...,"€2,100 per month",60 m²2 roomsFurnished
48,House Pieter A. van He...,1035 SV Amsterdam (Kadoelen),"€2,000 per month",98 m²4 roomsFurnished
49,Apartment Amstel ...,1018 EK Amsterdam (Weesperbuurt/Pl...,"€1,900 per month",75 m²2 roomsFurnished
50,Apartment Wijnand Nuij...,1061 WB Amsterdam (Overtoomse Veld...,"€2,050 per month",86 m²3 roomsFurnished
51,Apartment Middenweg ...,1098 AE Amsterdam (Middenmeer) ...,"€3,800 per month",154 m²5 roomsFurnished
52,Apartment Herengracht ...,1017 CD Amsterdam (Grachtengordel-...,"€3,950 per month",130 m²3 roomsUpholstered or furnished
53,Apartment 's-Gravesand...,1091 DG Amsterdam (Oosterparkbuurt...,"€1,750 per month",55 m²2 roomsFurnished
54,Apartment Olympiaplein...,1077 CS Amsterdam (Apollobuurt) ...,"€2,450 per month",110 m²3 roomsUpholstered
55,Apartment Da Costakade...,1053 XB Amsterdam (Da Costabuurt) ...,"€6,500 per month",149 m²6 roomsFurnished
56,Apartment Kuipersstraa...,1073 EV Amsterdam (Nieuwe Pijp) ...,"€2,100 per month",60 m²3 roomsFurnished
57,Apartment Lindengracht...,1015 KE Amsterdam (Jordaan),"€2,250 per month",68 m²2 roomsFurnished
58,Apartment IJburglaan ...,1087 CE Amsterdam (IJburg West) ...,"€2,800 per month",110 m²2 roomsFurnished
59,Apartment Watteaustraa...,1077 ZH Amsterdam (Apollobuurt) ...,"€2,650 per month",120 m²4 roomsUpholstered
60,Apartment De Lairesses...,1071 PB Amsterdam (Museumkwartier)...,"€2,500 per month",100 m²3 roomsFurnished
61,House Maldenhof 108 ...,1106 EV Amsterdam (Holendrecht/Rei...,"€2,100 per month",115 m²5 roomsUpholstered or furnished
62,Apartment Minervaplein...,1077 TR Amsterdam (Apollobuurt) ...,"€2,850 per month",111 m²3 roomsFurnished
81,Apartment Milletstraat...,1077 ZA Amsterdam (Apollobuurt) ...,"€2,650 per month",110 m²4 roomsUpholstered
93,Apartment Minervaplein...,1077 TR Amsterdam (Apollobuurt) ...,"€2,850 per month",111 m²3 roomsFurnished
124,Apartment Minervaplein...,1077 TR Amsterdam (Apollobuurt) ...,"€2,850 per month",111 m²3 roomsFurnished
155,Apartment Minervaplein...,1077 TR Amsterdam (Apollobuurt) ...,"€2,850 per month",111 m²3 roomsFurnished
186,Apartment Minervaplein...,1077 TR Amsterdam (Apollobuurt) ...,"€2,850 per month",111 m²3 roomsFurnished
217,Apartment Minervaplein...,1077 TR Amsterdam (Apollobuurt) ...,"€2,850 per month",111 m²3 roomsFurnished
248,Apartment Minervaplein...,1077 TR Amsterdam (Apollobuurt) ...,"€2,850 per month",111 m²3 roomsFurnished
279,Apartment Minervaplein...,1077 TR Amsterdam (Apollobuurt) ...,"€2,850 per month",111 m²3 roomsFurnished
286,Apartment Minervaplein...,1077 TR Amsterdam (Apollobuurt) ...,"€2,850 per month",111 m²3 roomsFurnished
310,Apartment Minervaplein...,1077 TR Amsterdam (Apollobuurt) ...,"€2,850 per month",111 m²3 roomsFurnished
341,Apartment Minervaplein...,1077 TR Amsterdam (Apollobuurt) ...,"€2,850 per month",111 m²3 roomsFurnished
372,Apartment Minervaplein...,1077 TR Amsterdam (Apollobuurt) ...,"€2,850 per month",111 m²3 roomsFurnished
403,Apartment Minervaplein...,1077 TR Amsterdam (Apollobuurt) ...,"€2,850 per month",111 m²3 roomsFurnished
434,Apartment Minervaplein...,1077 TR Amsterdam (Apollobuurt) ...,"€2,850 per month",111 m²3 roomsFurnished
465,Apartment Minervaplein...,1077 TR Amsterdam (Apollobuurt) ...,"€2,850 per month",111 m²3 roomsFurnished
468,Apartment Koningin Wil...,1062 KS Amsterdam (Westlandgracht)...,"€2,250 per month",90 m²3 roomsFurnished
496,Apartment Minervaplein...,1077 TR Amsterdam (Apollobuurt) ...,"€2,850 per month",111 m²3 roomsFurnished
527,Apartment Minervaplein...,1077 TR Amsterdam (Apollobuurt) ...,"€2,850 per month",111 m²3 roomsFurnished